@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: red; */
    background: rgb(34, 40, 49);

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(238, 238, 238);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 137, 139);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-fluid{
    /* padding: 0 1.5em 0 1.5em; */
    /* margin: 20px; */
    /* width: 100vh; */
    /* height: 100vh; */
    /* background-color: red; */
    padding: 0;
    margin: 0;
}

.content{
    /* padding: 0 1.5em 0 1.5em; */
    /* padding: 1.5em; */
    color: rgb(238, 238, 238);
    /* height: ; */
}

.nav{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige; */
    background: rgb(118, 171, 174);
    color: rgb(238, 238, 238);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    gap: 2em;
}

.nav-title{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav nav ul li{
    list-style: none;
}

a{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    color: rgb(49, 54, 63);
}

.nav nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link{
    padding: 0;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(49, 54, 63);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    color: rgb(238, 238, 238);
}

.about_container{
    padding: 1.5em;
    /* height: 90vh; */
}

.quiz_container{
    padding: 1.5em;
}

.nav-link form button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: rgb(238, 238, 238);
}

.nav-link form button:hover{
    font-weight: bold;
    color: rgb(49, 54, 63);
}

.quiz_list_container{
    padding: 1.5em;
}

.hero-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 2em;
}



.hero-image{
    width: auto;
}

.hero-image img{
    height: 33em;
}

.logout_container{
    padding: 1.5em;
}

.quiz-name{
    color: white;
    text-decoration: none;
}

.typewriter h1 {
    overflow: hidden;
    border-right: 0.10em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation: typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

@media (max-width: 842px) {
    .col{
        flex: none;
    }

    .hero-welcome.col-md-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}



