@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: red; */
}

.container-fluid{
    /* padding: 0 1.5em 0 1.5em; */
    /* margin: 20px; */
    /* width: 100vh; */
    /* height: 100vh; */
    /* background-color: red; */
    padding: 0;
    margin: 0;
}

.content{
    /* padding: 0 1.5em 0 1.5em; */
    /* padding: 1.5em; */
}

.nav{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    gap: 2em;
}

.nav-title{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.nav nav ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    color: red;
}

.nav nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link{
    padding: 0;
}

.nav-link form button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.nav-link form button:hover{
    font-weight: bold;
    color: red;
}

.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}

@media (max-width: 842px) {
    .col{
        flex: none;
    }
}



