{% extends "index.html" %} {% load static %} {% block content %}
<div class="about_container">
  <main class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">About Quiz App</h1>
        <p>
          Quizzers is a web application that allows users to take quizzes on
          various topics, track their progress, and improve their knowledge. The
          app provides a user-friendly interface and a wide range of quizzes to
          choose from.
        </p>
        <p>
          Our mission is to make learning fun and engaging for everyone. Whether
          you're a student, a professional, or just someone who loves to learn,
          Quizzers has something for you.
        </p>
        <h2 class="mt-5">Features</h2>
        <ul>
          <li>Variety of quizzes on different topics</li>
          <li>User-friendly interface</li>
          <li>Score Tracking</li>
          <li>Responsive design for all devices</li>
          <li>Secure authentication and authorization</li>
        </ul>
        <h2 class="mt-5">Contact Us</h2>
        <p>
          If you have any questions, suggestions, or feedback, please feel free
          to reach out to us at
          <a href="" style="color: blue;">xyz@quizzers.com</a>.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock content %}
