{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Bootstrap CSS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    
    <link rel="stylesheet" href="{% static 'quiz/index.css' %}">
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizzers</title>
  </head>
  <body>
    <div class="container-fluid">
      {% comment %} <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/members">MEMBERS</a>
        </li>
      </ul> {% endcomment %}
      <div class="nav">
        <p class="nav-title">Quizzers</p>
        <nav>
          <ul>
            <li><a href="{% url 'quiz_home' %}">Home</a></li>
            {% comment %} <li><a href="{% url 'take_quiz' %}">Take Quiz</a></li> {% endcomment %}
            <li><a href="/quiz_list">Quiz List</a></li>
            <li><a href="{% url 'quiz_about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li>   
                <a class="nav-item nav-link">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                  </form>
                </a>
            </li> 
            <li>
              <a href="{% url 'profile'  %}">Profile</a>
            </li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
              {% endif %}
          </ul>
        </nav>
      </div>
      {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
      {% endif %}
      <div class="content">
        {% block content %}
          <H1>BASE PAGE</H1>
        {% endblock content %}
      </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="{% static '/quizes/quizes.js' %}"></script>
    <script src="{% static '/quizes/quiz.js' %}"></script>

  </body>
</html>