{% extends 'index.html' %}
{% load static %}


{% comment %} {% block scripts %}
<script src="{% static 'quiz/quizes/quizes.js' %}" defer></script>
{% endblock scripts %} {% endcomment %}


{% block title %}Home{% endblock title %}

{% block content %}

<div class="quiz_list_container">
    <!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start Quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-confirm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="start-button">Start</button>
            </div>
        </div>
    </div>
</div>

<div class="">
    <h1 class="h1">
        Available Quizzes
    </h1>
</div>

<hr>

{% for object in object_list %}
<div class="m-3">

    <button type="button" class="quiz-name btn btn-link modal-button" data-pk="{{object.pk}}" data-date="{{object.date}}"
        data-name="{{object.name}}" data-description="{{object.description}}" data-topic="{{object.category}}"
        data-questions="{{object.number_of_questions}}" data-difficulty="{{object.difficulty}}"
        data-time="{{object.time}}" data-pass="{{object.required_score}}" data-bs-toggle="modal"
        data-bs-target="#quizStartModal">
        {{object.name}}
    </button>
</div>
{% endfor %}
</div>



{% endblock content %}